
<%= image_tag @profile_image %>
<%= @name %>
<br><br>
<%= link_to "Gå til events", '/events' %>
<br><br>
Permissions <%= @permissions %>
<br><br>
Tilfeldig person: <%= @friend['name'] %>
<br>
<h1>Venner</h1>
<% @friends.each do |friend| %>
    <%= friend['name'] %>: <%= friend['value'] %>
    <br>
<%end%>
