<script>
var save = function(id) {
    var elem = $("#"+id);
    var telem = $("#"+id+"_p");
    var newv = elem.val();
    if (newv === "")
        return;
    $.ajax({
        type: "POST",
        url: '/ukeeventdata/',
        data: {
            id: id,
            description: newv
        },
        success: function() {
            telem.text("Saved");
            setTimeout(function() {
                telem.text("");
            }, 2000);
        },
        error: function(obj, txt, err) {
            console.log("Txt: " + txt);
            console.log("Err: " + err);
            telem.text("Error");
            setTimeout(function() {
                telem.text("");
            }, 2000);
        }
    })
}
</script>

<form>
<% @events.each do |e| %>
    <%= e.title %><br>
    <textarea id="<%= e.id %>" rows="4" cols="50" onBlur="save(<%=e.id%>)" ><%= e.description %></textarea>
       <div style="display:inline" id="<%= e.id %>_p"></div>
    <br>
    <br>
<% end %>
</form>
