<script>
var save = function(id) {
    var elem = $("#"+id);
    var telem = $("#"+id+"_p");
    var newv = elem.val();
    var oldv = elem.attr("class");
    if (newv === oldv)
        return;
    edit = oldv != "";
    $.ajax({
        type: "POST",
        url: '/fbukeevent/',
        data: {
            id: elem.attr("id"),
            edit: edit,
            fb_event_id: newv
        },
        success: function() {
            elem.attr("class", newv);
            telem.text("Saved");
            setTimeout(function() {
                telem.text("");
            }, 2000);
        },
        error: function(obj, txt, err) {
            console.log("Txt: " + txt);
            console.log("Err: " + err);
            telem.text("Error");
            setTimeout(function() {
                telem.text("");
            }, 2000);
        }
    })
}
</script>

<form>
<% @events.each do |e| %>
    <%= e.title %><br>
    <input type="text" id="<%= e.id %>" 
       class="<%= e.fb_event_id %>"
       value="<%= e.fb_event_id %>"
       <%= e.auto_generated ? "disabled" : "onBlur=\"save(#{e.id})\"" %>>
       <div style="display:inline" id="<%= e.id %>_p"></div>
    <br>
    <br>
<% end %>
</form>
