<head>
    <meta property="og:url"                content="apps.facebook.com/prosjektrestavfall" />
    <meta property="fb:app_id"             content="649498578495089" />
    <meta property="og:title"              content="Restavfall" />
    <meta property="og:description"        content="Finn lykken under uka!" />
    <meta property="og:image"              content="https://www.ntnu.no/documents/314139/17862224/UKElogo-r%C3%B8d/81fd061b-0f56-4f84-9320-620f38b955f8?t=1350897749234" />
</head>

<script> sr = "<%= @sr %>"; </script>
<% javascript_include_tag 'analyse.js' %>

<script>
    <% if @user and @event and @friend %>
    $( document ).ready(function() {
        user = <%= @user.to_json.html_safe %>
        currentEvent = <%= @event.to_json.html_safe %>
        currentFriend = <%= @friend.to_json.html_safe %>
        currentLink = <%= @link.to_json.html_safe %>
        setEvent();
        setLink();
        setFriend();
        setUser();
        toggleVisibility();
        $('#start-test').toggle()
    });
    <% end %>
</script>

<div id="container">
    <div id="centered">
        <button type="button" id="start-test"  onclick="runAnalysis('Start');$('#start-test').toggle();">Start test</button>
        <div id="data"> </div>
    </div>


    <div id="results">
        <div id="event">
            <a id="event-link" target="_blank"><img id="event-img"></a> <br>
            <a id="link-share"></span>
        </div>
        <div id="friend">
            <img id="friend-profile"><br>
            <a id="friend-name"></a>
        </div>
        <div id="me">
            <img id="me-profile"><br>
            <a id="me-name"> </a>
        </div>

        <div id="buttons">
            <button type="button"  id="new-friend"  onclick="newFriendEvent();">Again!</button>

            <button id="send-share">Send</button>
            <button id="post-share">Share</button>

            <button onclick="runAnalysis('Start');$('#data').html('');toggleVisibility();">Retake test</button>
        </div>
    </div>
</div
