
<head>
    <%= stylesheet_link_tag 'home', {:media => "(min-height: 800px)"} %>
    <%= stylesheet_link_tag 'home_small', {:media => "(max-height: 800px)"} %>
    <%= javascript_include_tag 'home' %>
</head>

<script>
window.onload = function() {
	//$("#view").css("overflow", "visible");
	//$("#view").css("height", "auto");
};
</script>

<div id="view">
    <div id="container" class="up">
        <div id="h1" class="header">LYCHEHJULET</div>
		<%= image_tag 'cloud_1.png', {:id => "cloud-1", :class => "cloud"} %>
		<%= image_tag 'cloud_2.png', {:id => "cloud-2", :class => "cloud"} %>
		<%= image_tag 'cloud_2.png', {:id => "cloud-3", :class => "cloud"} %>
        <div id="text_wrap">
            <div id="text" class="right">Tekst</div>
        </div>
        <div id="wheel">
            <div id="wheel_pin"><%= image_tag 'wheel_pin.png' %></div>
            <div id="wheel_board"><%= image_tag 'wheel_board.png' %></div>
            <div id="wheel_foot"><%= image_tag 'wheel_foot.png' %></div>
        </div>
        <div id="button">
            <div id="button_arrow"><%= image_tag 'button_arrow.png' %></div>
            <div id="button_click" onClick="spin();" ><%= image_tag 'button_click.png' %></div>
            <div id="button_foot"><%= image_tag 'button_foot.png' %></div>
            <div id="button_text" class="nudge">SPINN!</div>
        </div>
        <div id="rhino">
            <div id="rhino_belly" class="breathe_start"><%= image_tag "nesehorn_mage2.png" %></div>
            <div id="rhino_feet"><%= image_tag "nesehorn_feet.png" %></div>
            <div id="rhino_tail" class="wave"><%= image_tag "nesehorn_hale.png" %></div>
            <div id="rhino_head"><%= image_tag "nesehorn_hode.png" %></div>
            <div id="rhino_head" class="rhino-blink"><%= image_tag "nesehorn_blunk2.png" %></div>
        </div>
        <div id="uka">
            <%= image_tag "UKElogo_hvit.png" %>
        </div>
        <div id="event">
			<div id="event-image-wrapper">
            <img id="event-image" src="https://www.uka.no/uploads/events/doduo.png">
			</div>
            <div id="event-title">ACTION BRONSON</div>
        </div>
        <div id="profiles">
            <div id="friend">
                <img id="friend-image" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c13.0.50.50/p50x50/10603236_10154589353135422_6099151518257792025_n.jpg?oh=082defdcae28888dae2c2c2c9bcb0e54&oe=5679D5AC&__gda__=1450495683_f5d4ebe86a4861dc17664721cd166b7e">
                <div id="friend-name">Friend</div>
            </div>
            <div id="me">
                <img id="me-image" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c13.0.50.50/p50x50/10603236_10154589353135422_6099151518257792025_n.jpg?oh=082defdcae28888dae2c2c2c9bcb0e54&oe=5679D5AC&__gda__=1450495683_f5d4ebe86a4861dc17664721cd166b7e">
                <div id="me-name">Me</div>
            </div>
        </div>
        <div id="description-wrapper">
            <div id="description">
                djkvmdk ksdmf ksdmf ldcmk ddkmf d
                cdsmnkf dfk d ddm fkmdck mkdmc
                nknc dkmv kdsv kd vkmkdv mkdvm
                dkmv dmvk mkvk mkkvm
            </div>
            <div id="ticket">
                KJØP BILLETT
            </div>
        </div>
        <div id="button-wrapper">
            <div class="button3">
                <div class="inner-button" >
					<%= image_tag "replay.png", {:class => "button-img", :title => "Prøv igjen"}  %> 
                </div>
            </div>
            <div class="button3">
                <div class="inner-button" >
					<%= image_tag "share.png", {:class => "button-img", :title => "Del på tidslinje"} %> 
                </div>
            </div>
            <div class="button3">
                <div class="inner-button" >
					<%= image_tag "message.png", {:class => "button-img", :title => "Del i chat"}%> 
                </div>
            </div>
        </div>

    </div>
</div>
