<% content_for :head do %>
    <meta property="fb:app_id"             content="649498578495089" />
    <meta property="og:title"              content="Restavfall" />
    <meta property="og:description"        content="<%= @selfName %> og <%= @friendName %> vil finne lykken under uka! Vær med på <%= @ev.name %> du også!" />
<% end %>

<% if @r %>
    <script type="text/javascript">
        window.top.location = 
            <%= (@redirecturl+"&app_data="+@rid).to_json.html_safe %>
    </script>
    Redirecting to facebook...
<% else %>
    <h2><%= @selfName %>
     tok restavfall, og fikk dette resultatet!
    </h2>
    <h3>
    Dere skal dra på <%= @ev.name %> sammen den <%= @eventtime %>!
    </h3>

    <%= image_tag @ev.img %>
    <%= image_tag @selfImage %><br>
    <%= image_tag @friendImage %><br>
    <%= link_to("Delta på facebook!",'http://www.facebook.com/' + @ev.fbeventID) %>
    <br>
    <%= link_to("Kjøp billetter!", @ev.url) %>
    <a href=<%= "/?stop=true&signed_request="+@sr %> > Ta testen du og!</a>
<% end %>
