<% content_for :head do %>
    <meta property="og:url"                content="apps.facebook.com/prosjektrestavfall" />
    <meta property="fb:app_id"             content="649498578495089" />
    <meta property="og:title"              content="Restavfall" />
    <meta property="og:description"        content="<%= @selfName %> og <%= @friendName %> vil finne lykken under uka! Vær med på <%= @ev.name %> du også!" />
    <meta property="og:image"              content="<%= @ev.img %>" />
<% end %>

<% if @r %>
    <script type="text/javascript">
        window.top.location = 'https://apps.facebook.com/prosjektrestavfall/uno/'+'<%= @rid %>';
    </script>
    Redirecting to facebook...
<% else %>
    <h2><%= @selfName %>
     tok restavfall, og fikk dette resultatet!
    </h2>
    <h3>
    Dere skal dra på <%= @ev.name %> sammen den <%= @eventtime %>!
    </h3>

    <%= image_tag @ev.img %>
    <%= image_tag @selfImage %><br>
    <%= image_tag @friendImage %><br>
    <%= link_to("Delta på facebook!",'http://www.facebook.com/' + @ev.fbeventID) %>
    <br>
    <%= link_to("Kjøp billetter!", @ev.url) %>
    <%=link_to("Ta testen du og!",'https://apps.facebook.com/prosjektrestavfall') %>

    <!-- https://localhost:3001/uno/10152607059212447/10154345683960422/1 -->
<% end %>
